.git
.github
.nx
.angular
node_modules
dist
tmp
coverage
test-output
__screenshots__

apps/**/dist
apps/**/out-tsc
libs/**/dist
libs/**/out-tsc

.env
.env.*
!.env.example
!.env.*.example

.codex
.claude
.cursor
.gemini
.opencode

*.log
